<nav>
  <div class="nav-wrapper green darken-4">
    <a href="#" class="brand-logo"> Best Brews Bunker </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#"> Patrons </a></li>
      <li><a href="#"> Employees </a></li>
    </ul>
  </div>
</nav>




<!--<h1>Patron View </h1>-->
<!--<h2> {{title}}</h2>-->
<!--&lt;!&ndash;add sort by  (price greater than or less than x)&ndash;&gt;-->
<!--<div class="row">-->
    <!--<div *ngFor="let brew of kegs" class=" col s12 m5 card">-->
      <!--<div class="card-image">-->
        <!--<img src = {{brew.imgLocation}} class="responsive-img" >-->
      <!--</div>-->
      <!--<div class="card-content">-->
        <!--<b><i> {{brew.brand}} </i> </b> <br/>-->
        <!--<br/>-->
        <!--<p> {{brew.description}} </p>  <br/>-->
        <!--Price: ${{brew.price}} ABV: {{brew.alcoholContent}}% <br/>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->




<h1> Employee View </h1>
<!--add sort by:  low (less than 10 pints left)-->
<div class="row">
  <div *ngFor="let brew of kegs" class=" col s12 m5 card">
    <div class="card-image">
      <img src = {{brew.imgLocation}} class="responsive-img" >
    </div>
    <div class="card-content">
      <b><i> {{brew.brand}} </i> </b> <br/>
      <br/>
      <p> {{brew.description}} </p>  <br/>
      Price: ${{brew.price}} ABV: {{brew.alcoholContent}}% <br/>
      Pints Left: {{brew.pintsRemaining}}/124 <br/>
    </div>
    <div class="card-action">
      <a class="btn-floating halfway-fab waves-effect waves-light red" title="Remove Pint"><i class="material-icons"> remove </i></a>
      <a class="btn amber darken-3" title="Replace Keg"> <i class="material-icons"> swap_vert </i> </a>
      <a class="btn amber accent-4" title="Edit Keg"> <i class="material-icons"> mode_edit </i></a>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-action">
    <div class="card-image">
      <img src="../assets/img/newkeg.jpg" alt="clip-art keg with the words 'if you tap it, they will come'">
    </div>
    <a class="btn green darken-4" title="Add New Keg"> <i class="material-icons">add</i></a>
  </div>

</div>









