
/*cards */

.brew-logo {
  max-height: 420px;
}

.brew-card {
  height: 750px;
}

.brew-card-client {
  height: 650px;
}

.brew-card .card-content {
  min-height: 260px;
}


.price {
  color: #689f38;
  font-weight: bold;
}

.ABV {
  color: #00695c;
  font-weight: bold;
}

.pints-left {
  color: #e64a19;
  font-weight: bold;
}

.new-keg-card img {
  max-width: 600px;
}

